.login-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    
    
}
.login-image{
    background-repeat: no-repeat;
    background-image: url('/home/ubuntu/soorya/ReactMP/miniproject/public/undraw_fingerprint_re_uf3f-removebg-preview.png');
    background-size: 70%;
    margin-top: 300px;
    margin-left: 200px;
    transition: transform 0.3s ease;
  
}
.login-form{
    margin-top: 150px;
}

