
.table-container{
    margin: 20px!important; 
    margin-top: 0px !important;
   
}
td {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.971);
    justify-content: center;
    padding: 20px !important;
    border: none;
}
th {
    color: rgb(4, 3, 3) !important;
    text-align: center;
    border: none;
    justify-content: center;
    padding: 10px !important;
}
table{
    width: 100%;
}

